# 示例/测试配置文件

# 会话名
[foobar] # 需在除注释行及空行外的首行并置于中括号间
# 窗口名 : 窗口布局(面板分割）方案 : 对应各面板发送的按键或/和字符串
    0    : ;                       : ; # 唯名与器 不可假人
         # | 横向分屏 - 纵向分屏  = 为必需，其后百分比可无，默认 50% 
   foo   : |=; -=                  : whoami; w; uptime
                                                                         # tmux 开头的字符串 sh -c 运行(附加指定对应会话，如下）
   bar   : |=50; -=50; |=100       : ; /usr/bin/top C-m; "echo $HOME" C-m; tmux clock-mode # -t target-session
                       # ^^^ tmux bug 未能对半分屏（即便设置 100%）
